{
    "server": "{{ ssserver }}",
    "server_port": {{ ssserver_port }},
    "local_address": "127.0.0.1",
    "local_port": 1080,
    "password": "{{ ssserver_password }}",
    "timeout": 600,
    "method":"{{ ssserver_method }}",
    "fast_open": true
}